.footer{ 
  height:46px;
  background:#36588f url('../images/bg-footer.jpg') repeat-x 0 0;
  float:left;
  width:100%;
  margin-top:0 auto;
  position: relative;
  width: 100%;
  p{
    width: 320px;
    text-align:center;
    margin:0 auto;
    line-height:46px;
    color:#9dc1f2;
    text-shadow: 1px 1px 2px #172744, -3px 5px 9px #172744;
    font-size:1.15em;
  }
}
