body {
  background: #36588f;
}

.header {
  height: 72px;
  background: url("../images/bg-header-main.jpg") repeat-x 0 0;
}

.block-buttons {
  width: 300px;
  margin: 0 auto;
}
.block-buttons a {
  min-width: 134px;
  font-size: 1.15em;
  margin: 0 !important;
  height: auto;
}
.block-buttons li {
  margin-bottom: 4px;
}
.block-buttons .left {
  float: left;
  clear: both;
}
.block-buttons .left .medium {
  min-width: 116px;
}
.block-buttons .right {
  float: right;
}
.block-buttons .right .medium {
  min-width: 126px;
}
.block-buttons .right.last .first,
.block-buttons .right.last .medium,
.block-buttons .right.last .last {
  background: none;
}
.block-buttons .right.last a {
  float: left;
  color: #9dc1f2;
  text-shadow: 1px 1px 2px #172744, -3px 5px 9px #172744;
  min-width: 1px !important;
  margin: 0;
}
.block-buttons .right.last a img {
  margin-top: 5px;
}
.block-buttons .right.last .first {
  margin-top: 13px !important;
}
